table, td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
tr:nth-child(odd) {
  background-color: #2f71aa;
}
tr:nth-child(even) {
  background-color: #1120ff;
}
td{
	width: 200px;
	text-align: center;
}
th{
	background: orange;
}